{% include 'page-templates/views/partials/banner.twig' %}

<section class="entry-content">
	<div class="row">
		<div class="small-12 medium-6 columns">
			{{ post.meta('column_one') }}
		</div>
		<div class="small-12 medium-6 columns">
			{{ post.meta('column_two') }}
		</div>
	</div>
</section>	